.item {
  list-style: none;
  width: 100%;
  padding: 1rem;
  background-color: #008793;
  font-weight: bold;
  color: beige;
}

.item.dark {
  background-color: var(--main-bg-color-dark);
  color: var(--main-color-dark);
}

.item.light {
  background-color: var(--main-chooser-color-light);
  color: var(--main-color-light);
}

.dark.selected {
  background-color: var(--main-selected-color-dark);
  border-bottom: 1px solid var(--main-border-color-dark);
}

.light.selected {
  background-color: var(--main-selected-color-light);
  border-bottom: 1px solid var(--main-border-color-light);
}

.item:hover {
  cursor: pointer;
}
