.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.dark {
  color: var(--main-color-dark);
}

.header.light {
  color: var(--main-color-light);
}
