.header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  gap: 3%;
}

logo {
  grid-column: 1/4;
}

location {
  grid-column: 2/4;
}

metric {
  grid-column: 3/4;
}

colorMode {
  grid-column: 4/4;
}

.logo,
.colorMode,
.metric {
  padding: 1rem;
  border: 0.25rem;
  border-radius: 0.25rem;
  border-color: #004d7a;
  margin: 0.5rem;
  background-color: #008793;
  font-weight: bold;
  color: beige;
}
