.heading {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 2fr 2fr;
  column-gap: 0.5rem;
  width: 100%;
}

.heading.light {
  background-color: var(--main-);
}

.time {
  font-weight: bold;
}

.weather_icon {
  width: 80px;
  height: 80px;
}

.description {
  align-self: center;
  font-size: 1.4rem;
}

.temperature {
  font-size: 2rem;
}

.feel {
  font-size: 1.2rem;
}

.dark {
  color: var(--main-color-dark);
}

.light {
  color: var(--main-color-light);
}
