.section {
  height: 100%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.dark {
  background-color: var(--main-section-color-dark);
}

.light {
  background-color: var(--main-bg-color-light);
}

@media (max-width: 36rem) {
  .section {
    width: 100%;
    margin: 2rem, 0rem;
  }
}
